body {
	width: 100%
}

header {
	/* background-color: green; */
	height: 5vw;
}
#loginButton {
	float: right;
}
nav {
	/* background-color: blue; */
	width: 20%;
	height: 100vw;
	float: left;
}
nav h3 {
	margin: 0px;
	padding: 0px;
	background-color: gray;
}

nav li {
	list-style: none;
}
#content {
	/* background-color: orange; */
	width: 100%;
	height: 100vw;
}

table {
	width: 80%;
	padding-left: 10px;
}
